$primary: #36136c;
$secondary: #1a095798;
$dark: #323b4c;
$border-color: #eee;

// ----------------------------------------

body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 14px;
}

.resume-name{
	font-family: 'Lato', sans-serif;
	font-size: 40px;
}

.item{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	padding: 0%;
}

.dato_item{
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	font-weight: bolder;
	padding-bottom: 1rem;
}


.col_izq{
	.tit_seccion{
		// pseudo-elemento para crear una pequeña linea decorativa
		&::after{
			content: '';
			display: block;
			width: 120%;
			height: 2px;
			background-color: #ffffff;
			margin-top: 10px;
		}
	}
}

.col_der{
	.tit_seccion{
		// pseudo-elemento para crear una pequeña linea decorativa
		&::after{
			content: '';
			display: block;
			width: 100%;
			height: 2px;
			background-color: $dark;
			margin-top: 10px;
		}
	}
}

.miAcordeon{
	border-style: none;
	.card{
		border-style: none;

		
		.card-header{
			//border-bottom: none;
			border-style: none;
		}

		:hover{
			cursor: pointer;
		}
	}


	.collapse{
		border-bottom-style: solid;
		border-bottom-color: $border-color;
	}

	.card-body{
		padding-left: 3rem;
	}
	
}

.card-body{
	margin-top: -10%;
	background-color: white;
}
.nombre_empresa{
	padding-bottom: 5rem;
}


